<div class="mis-cuentas">
        <div class="row justify-content-md-center">
    
            <div class="col col-lg-3 info-cuentas">
    
                <div>
                    SALDO GENERAL <br> EN CUENTAS
                </div>
                <div class="cantidad">
                    <span>${{saldo_general}}</span>
                </div>
            </div>
    
            <div class="col-lg-3 info-cuentas">
                <div>
                    TOTAL DE<br> INGRESOS
                </div>
                <div class="cantidad">
                    <span>${{total_ingresos}}</span>
                </div>
            </div>
    
            <div class="col-lg-3 info-cuentas">
                <div>
                    TOTAL DE<br> GASTOS
                </div>
                <div class="cantidad">
                    <span>${{total_gastos}}</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="" style="background:#f5f5f5;">
            <div class="row justify-content-md-center">
    
                <div class="col col-lg-3 tarjetas">
                    <p>MIS CUENTAS</p>
                        <div class="col col-lg-12" class="tarjeta">              
                            <div>
                               <table class="tarjetaTabla">
                                   <tr>
                                       <td>Activa</td>
                                       <td>$1,500.00</td>
                                   </tr>
                                   <tr>
                                       <td>3234-1234-1234-1234</td>
                                   </tr>
                                   <tr>
                                        <td>Luis Esteban Cuacua Chicuellar</td>
                                    </tr>
                                    <tr>
                                        <td>Titular</td>
                                        <td><img src="/assets/images/master.png" width="48" alt=""></td>
                                    </tr>
                               </table>
                            </div>
                        </div>
                        <div class="agregarTarjeta">
                             <a data-toggle="modal" data-target="#miModal" href=""> AGREGAR TARJETA &nbsp;&nbsp;&nbsp;&nbsp;<span style="border: 2px dashed #07be92;font-size: 24px;border-radius: 5px;">&nbsp;&nbsp;+&nbsp;&nbsp;</span> </a>
                        </div>
                </div>
    
                <div class="col-lg-6 movimientos">
                    <p>MIS MOVIMIENTOS</p>
                    <div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <td>Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>@mdo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    
